<ul class="nav nav-tabs">
    <li {{#if (equals cms_id "faq")}}class="active" {{/if}}>
        <a href="/p/faq">{{__ "faq.linklabel"}}</a>
    </li>
    <li {{#if (equals cms_id "about")}}class="active" {{/if}}>
        <a href="/p/about">{{__ "about.linklabel"}}</a>
    </li>
    <li {{#if (equals cms_id "press")}}class="active" {{/if}}>
        <a href="/p/press">{{__ "press.linklabel"}}</a>
    </li>
    <li>
        <a href="${CONST.URL_BLOG}" target="_blank"><span class="external sprite">{{__ "blog.linklabel"}}</span></a>
    </li>
    <li {{#if (equals cms_id "tos")}}class="active" {{/if}}>
        <a href="/p/tos">{{__ "tos.linklabel"}}</a>
    </li>
</ul>
<style>.contenttop {margin-top: 30px !important;}</style>
