<form id="addWifiForm" class="form-inline" method="post" autocomplete="off" action="/p/wifis/add">
    {{#each wifis}}
    <div class="control-group wifiObj" id="wifi{{this.id}}">
        <div class="input-prepend input-append">
            <span class="add-on">wifis.org/</span>
            <span class="add-on wifiName" style="font-weight: bold; background: white;">
                <a href="/{{this.id}}">{{this.label}}</a>
            </span>
            <span class="add-on deleteButton">
                <a class="sprite icon icon-delete" href="/p/wifis/delete?id={{this.id}}"
                    title="{{../__ "wifis.deleteButton"}}"></a>
            </span>
        </div>
    </div>
    {{/each}}
   
    <div class="control-group ">
        <div class="input-prepend input-append">
            <span class="add-on">wifis.org/</span> <input class="addWifiInput" type="text" name="wifiid" value=""
                placeholder="{{__ "wifis.enternew"}}" title="{{__ "wifis.enternew"}}" />
            <button class="btn" type="submit" id="addWifiSave">
                {{__ "wifis.save"}}
            </button>
            <span class="add-on loader hide">&#160;&#160;&#160;</span>
        </div>
        <span class="help-inline">
            {{#if error}}
                {{! __ (concat "wifis.error." error)}}
            {{/if}}
        </span>
    </div>
</form>