<!DOCTYPE html>
<html lang="TODO:${lang}" class="no-js web lang_${lang}">

<head>
    <!-- Wifis.org ♥ developers - help us https://www.wifis.org/p/languages -->
    <meta charset="utf-8">
    <title>TODO:TITLE</title>
    <meta name="description" content="TODO:label.description" />
    <meta name="keywords" content="wifi, wifis, wlan, share, email, contact" />
    <meta name="author" content="wifis.org" />
    <!-- TODO:only on homepage, when not logged in -->
    <meta property="fb:page_id" content="220511144683523" />
    <meta name="google-site-verification" content="AoQ12NdOtudrTmlJKk3udoPXhvFGXHn3J3DfBtd9emk" />
    <meta name="p:domain_verify" content="fdf3e6814e01600aeebed88f689b5053" />
    <meta name="msvalidate.01" content="3F774BB26121B84A4DA1801F0A554ED5" />

    <!-- TODO:GTM HEAD -->

    <script>
        (function (H) { H.className = H.className.replace(/\bno-js\b/, 'js') })(document.documentElement)
    </script>
    <link href="//fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <div class="navbar navbar-fixed-top" data-dropdown="dropdown">
        <div class="navbar-inner">
            <div class="container">

                <a class="sprite brand active" href="/"><span>/</span></a>
                <ul class="nav pull-left">
                    <!-- ADMIN LINK when logged in
                    <c:if
                        test="${isUserWithPermissionADMIN || isUserWithPermissionSTATS || isUserWithPermissionAPI || isUserWithPermissionDATA}">
                        <li class="dropdown <c:if test=" ${fn:startsWith(uri, CONST.URL_PATH_ADMIN)}">active
                    </c:if>"><a href="${CONST.URL_PATH_ADMIN}">ADMIN</a>
                                <ul class="dropdown-menu">
                                    <c:if test="${isUserWithPermissionADMIN || isDevEnv}">
                                        <li
                                            <c:if test='${uri==CONST.URL_PATH_ADMIN}'> class="active"</c:if>><a
                                            href="${CONST.URL_PATH_ADMIN}">Overview</a></li>
                                    </c:if>
                                    <c:if test="${isUserWithPermissionSTATS || isDevEnv}">
                                        <li
                                            <c:if test='${uri==CONST.URL_PATH_ADMIN_STATS}'> class="active"</c:if>><a
                                            href="${CONST.URL_PATH_ADMIN_STATS}">Stats</a></li>
                                    </c:if>
                                    <c:if test="${isUserWithPermissionDATA || isDevEnv}">
                                        <li
                                            <c:if test='${uri==CONST.URL_PATH_ADMIN_DATA}'> class="active"</c:if>><a
                                            href="${CONST.URL_PATH_ADMIN_DATA}">Data</a></li>
                                    </c:if>
                                    <c:if test="${isUserWithPermissionAPI || isDevEnv}">
                                        <li
                                            <c:if test='${uri==CONST.URL_PATH_ADMIN_API}'> class="active"</c:if>><a
                                            href="${CONST.URL_PATH_ADMIN_API}">Api</a></li>
                                    </c:if>
                                </ul>
                               

                    </li>
                    </c:if>
                    -->
                </ul>

                <ul class="nav pull-right">
                    <!-- when logged in: Wifis
                        <li <c:if test='${uri==CONST.URL_PATH_WIFIS}'> class="active"
                    </c:if>><a href="${CONST.URL_PATH_WIFIS}">
                        <spring:message code="wifis.linklabel" /></a></li>
                    </c:if>
                    -->

                    <li class="dropdown">
                        <a href="/p/faq" class="dropdown-toggle">
                            More<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/p/faq">
                                    FAQ</a></li>
                            <li><a href="/p/about">
                                    About</a></li>
                            <li><a href="/p/press">
                                    Press</a></li>
                            <!--<li<c:if test='${uri==CONST.URL_PATH_TOS}'> class="active"</c:if>><a href="${CONST.URL_PATH_TOS}"><spring:message code="tos.linklabel" /></a></li>
                             -->
                            <li><a target="_blank" href="/p/blog"><span class="external sprite">
                                        Blog</span></a></li>
                        </ul>
                    </li>


                    <li id="langDropDown" class="dropdown">
                        <a href="${CONST.URL_PATH_LANGUAGES}?${CONST.URL_PARAM_REFERER}=${uri}"
                            class="dropdown-toggle"><span class="sprite flag flag_de"></span><b class="caret"></b></a>

                        <ul class="dropdown-menu">

                            {{#each languages}}
                            <li{{#if (equals ../locale this)}} class="active"{{/if}}>
                            
                                <a  href="?lang={{this}}"><span class="sprite flag flag_{{this}}"></span>
                                </a>
                            </li>
                            {{/each}}


                            <c:if test="${isUserWithPermissionsTRANS}">
                                <!--
                                    <c:if test="${lang != CONST.LANG_TR}"> 
                                        <li><a href="?${URL_PARAM_LANG}=${CONST.LANG_TR}"><div class="sprite flag flag_${CONST.LANG_TR}"></div></a></li>
                                    </c:if>
                                    -->
                            </c:if>

                            <li><a href="${CONST.URL_PATH_LANGUAGES}?${CONST.URL_PARAM_REFERER}=${uri}"
                                    style="text-align: center;"> <b style="color: black;">??</b>
                                </a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <!-- when NOT logged in -->
                        <a href="${CONST.URL_PATH_LOGIN}" class="dropdown-toggle">
                            Login<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class="googleLogin"
                                    href="${CONST.URL_PATH_LOGIN}?${CONST.URL_PARAM_PROVIDER}=google&amp;${CONST.URL_PARAM_REDIRECT}=${uri}"
                                    title="Login with google" rel="nofollow"><span>
                                        Login with google</span></a></li>
                            <li><a class="facebookLogin"
                                    href="${CONST.URL_PATH_LOGIN}?${CONST.URL_PARAM_PROVIDER}=facebook&amp;${CONST.URL_PARAM_REDIRECT}=${uri}"
                                    title="Login with Facebook" rel="nofollow"><span>
                                        Login with Facebook</span></a></li>
                        </ul>
                        <!-- when logged in
                                <a href="${CONST.URL_PATH_LOGOUT}" class="dropdown-toggle" id="logout-menu-item"
                                    title="logout"> <span class="loginName"
                                    title="logout">Mathias</span>
                                <span class="sprite loginType icon icon-${account.type}"></span>
                                <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="${CONST.URL_PATH_LOGOUT}?${CONST.URL_PARAM_REDIRECT}=${uri}">
                                            <spring:message code="label.logout" /></a></li>
                                </ul>
                            -->
                    </li>
                </ul>

                <!-- Mobile
                        <a class="brand" href="${CONST.URL_PATH_HOMEPAGE}"><span>${CONST.URL_DOMAIN_NAKED}</span></a>

                        <ul class="nav">
                            <li <c:if test='${uri == CONST.URL_PATH_HOMEPAGE}'> class="active"</c:if>><a
                                    href="${CONST.URL_PATH_HOMEPAGE}">
                                    <spring:message code="homepage.linklabel" /></a></li>
                            <li <c:if
                                test="${uri == CONST.URL_PATH_FAQ || uri == CONST.URL_PATH_ABOUT || uri == CONST.URL_PATH_TOS || uri == CONST.URL_PATH_PRESS}">
                                class="active"</c:if>>
                                <a href="${CONST.URL_PATH_FAQ}">
                                    <spring:message code="label.otherwebsite.title" /></a>
                            </li>
                        </ul>

                        <ul class="nav" id="langDropDown">
                            <li><a href="${CONST.URL_PATH_LANGUAGES}?${CONST.URL_PARAM_REFERER}=${uri}"><span
                                        class="sprite flag flag_${lang}"></span></a></li>
                        </ul>
                    -->
            </div>
        </div>
    </div>


    <!-- TODO:JSP SOCIAL -->

    <div class="container maincontainer homepage">
        <div class="content contenttop">

            {{{body}}}

            <div class='clear'></div>
        </div>
    </div>




    <footer>
        <div class="press">
            Featured:
            <br>

            <a href="/p/press" class="logo logo-boingboing" title="www.BoingBoing.net"></a>
            <a href="/p/press" class="logo logo-tnw" title="www.TheNextWeb.com"></a>
            <a href="/p/press" class="logo logo-rww" title="www.ReadWriteWeb.com"></a>
            <a href="/p/press" class="logo logo-hackernews" title="HackerNews"></a>
        </div>

        revision: {{revision}}<br>
        service: {{service}}<br>

        <!-- MOBILE SWITCH
    <c:if test="${isMobileDevice}">
        <a class="mobileSwitch" href="${mobileSwitchUrl}"><spring:message
                code="label.footer.switchToMobile" /></a>
    </c:if>
     -->
    </footer>


    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

    <script type="text/javascript">
        var config = {
            lang: 'en',
            analytics: {
                enabled: true,
                account: 'UA-648146-10',
                domain: 'wifis.org',
                view: '',
                events: ','
            },
            translations: {
                twitterMsg: "With @wifis_org your neighbors can contact you through your Wi-Fi name. Visit",
                test: "Check",
                save: "Register",
                deleteButton: "Delete",
                wifisError: {
                    none: "This ID is available.",
                    noWifiIdDefined: "Please insert a name.",
                    wifiNotFound: "wifis.org ID not found.",
                    alreadyYourWifi: "You already registered this ID.",
                    otherUsersWifi: "This wifis.org ID is already taken by another user.",
                    wifiIdTooShort: "Your ID has to be at least 3 characters.",
                    wifiIdTooLong: "We do not support IDs longer than 20 characters.",
                    wrongWifiIdChars: "The only characters allowed are letters, numbers and hyphens.",
                    maxWifiCountReached: "You have reached your current limit of wifis.org IDs. Try the \u003Cb\u003Einvite a friend\u003C\/b\u003E link on the right to increase your limit.",
                    absoluteWifiLimitReached: "We only allow up to 10 different wifis.org IDs at this point. If you really need more IDs please contact us.",
                    whileWifiDelete: "Oops. There was an error during the deletion process."
                }
            }
        };
    </script>


    <!-- footer mobile
            <footer>
                <spring:message code="label.footer" />
                | <a class="mobileSwitch" href="${mobileSwitchUrl}">
                    <spring:message code="label.footer.switchToWeb" /></a>
            </footer>
            -->


    <script type='text/javascript' src='/assets/js/libs/bootstrap-dropdown.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/libs/jquery.timeout.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/jquery.wifis.analytics.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/jquery.wifis.form.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/jquery.wifis.general.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/jquery.wifis.menu.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/jquery.wifis.press.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/jquery.wifis.social.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/jquery.wifis.stats.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/jquery.wifis.tips.js?nocache=${random}'></script>
    <script type='text/javascript' src='/assets/js/wifis.controller.js?nocache=${random}'></script>


    <!--<c:when test="${isDevEnv == 'false' && mode == 'web'}">
            <script type='text/javascript' src='/assets/js/wifis.min.js'></script>
            -->

</body>

</html>