
<div class="wifilogo sprite"></div>

{{& __ "homepage.text.text"}}

<ul class="teasers">
        <li class="teaser1">
            <div class="number">
                <span>1</span>
            </div>
            <div class="text">
                {{& __ "homepage.text.teaser1"}}
            </div>
            <div class="image">
                <a href="${CONST.URL_PATH_EXAMPLE_PAGE}"
                            title="${CONST.URL_DOMAIN_NAKED}${CONST.URL_PATH_EXAMPLE_PAGE}">
                    <!-- http://lh6.googleusercontent.com/-llMpaN4bcjM/TwgRSzNyccI/AAAAAAAAABE/LFMzrE-KKyA/s200/wireless-router.jpg -->
                    <img
                            src="https://lh4.googleusercontent.com/-30Mq-IofYuk/T-8To5stE4I/AAAAAAAAAFQ/mGIgX68VkN4/s210/teaser1.png"
                            alt="${CONST.URL_DOMAIN_NAKED}${CONST.URL_PATH_EXAMPLE_PAGE}"
                            width="210" height="210" />
                </a>
            </div>
        </li>

        <li class="teaser2">
            <div class="number">
                <span>2</span>
            </div>
            <div class="text">
                    {{& __ "homepage.text.teaser2"}}
          
            </div>
            <div class="image">
                <a href="${CONST.URL_PATH_EXAMPLE_PAGE}"
                            title="${CONST.URL_DOMAIN_NAKED}${CONST.URL_PATH_EXAMPLE_PAGE}">
                    <!-- http://lh6.googleusercontent.com/-SNrgDC0zDvg/TwgRRCug2xI/AAAAAAAAAA8/5sVVIRND0-I/s200/wifi_blur.jpg
                    https://lh3.googleusercontent.com/-MCw3PxYM_BQ/T-8TniJ1TaI/AAAAAAAAAFE/Kflf8bDmOJg/s210/teaser2.png -->
                    <img
                            src="https://lh3.googleusercontent.com/--Y57ZsC4KMc/UJbHWkF-X3I/AAAAAAAAAH4/XcJPpyJIjGM/s210/teaser2_dark.png"
                            alt="${CONST.URL_DOMAIN_NAKED}${CONST.URL_PATH_EXAMPLE_PAGE}"
                            width="210" height="210" />
                </a>
            </div>
        </li>

        <li class="teaser3">
            <div class="number">
                <span>3</span>
            </div>
            <div class="text">
                      {{& __ "homepage.text.teaser3"}}
            </div>
            <div class="image">
                <a href="${CONST.URL_PATH_EXAMPLE_PAGE}"
                            title="${CONST.URL_DOMAIN_NAKED}${CONST.URL_PATH_EXAMPLE_PAGE}">
                    <!-- http://lh6.googleusercontent.com/-o8LyPT2DLqE/TwgRNleTsBI/AAAAAAAAAAs/E9YpmqHoev8/s200/contact.png
                    https://lh6.googleusercontent.com/-sxuLoRiUrfo/T-8oqJku-5I/AAAAAAAAAGw/nO4ACBv9XCg/s210/teaser3.png -->
                    <img
                            src="https://lh4.googleusercontent.com/-Gv7Z7RO90ZU/UJbHYrbfahI/AAAAAAAAAH4/1dtY9YyPKyE/s210/teaser3_dark.png"
                            alt="${CONST.URL_DOMAIN_NAKED}${CONST.URL_PATH_EXAMPLE_PAGE}"
                            width="210" height="210" />
                </a>
            </div>
        </li>
    </ul>
    
{{& __ "homepage.text.text1"}}

 <div class="wifichecker">
                <div class="text">
                    {{& __ "homepage.text.wifichecker"}}
                </div>
                
    



<form id="addWifiForm" class="form-inline" method="post"
	autocomplete="off" action="${CONST.URL_PATH_WIFIS}">
	
    <div class="control-group ">
		<div class="input-prepend input-append">
			<span class="add-on">wifis.org/</span> <input class="addWifiInput"
				type="text" name="wifiid" value=""
				placeholder="{{__ "wifis.enternew"}}"
				title="{{__ "wifis.enternew"}}" />
			<button class="btn" type="submit" id="addWifiSave">
				{{__ "wifis.save"}}
			</button>
			<span class="add-on loader">&#160;&#160;&#160;</span>
		</div>
		<span class="help-inline"> <c:if test="${error != null}">
				<spring:message code="wifis.error.${error}" />
			</c:if>
		</span>
	</div>
</form>



</div>


<br><br><br><br>
<p>locale: {{locale}}  </p>

Page: {{pagename}}

