Page Name: 

{{pagename}}
<br>

<br>
<p>0: {{__ "phrase1"}} </p>

<p>1: {{__ "level1.level2.level3"}} </p>

<p>2: {{__ "level1.level2.level33"}} </p>

<p>3:  {{__ "level1.level2.level33"}} </p>

<p>locale: {{locale}}  </p>