<footer>
    {{#unless (equals pageId "press")}}    
        <div class="press">
            Featured:<br>

            {{#if (equals getLocale "de")}}
                <a href="/{{getLocale}}/press" class="logo logo-golem" title="{{label.footer.featured.hint}} golem.de"></a>
                <a href="/{{getLocale}}/press" class="logo logo-netzwertig" title="{{label.footer.featured.hint}} www.netzwertig.com"></a>
                <a href="/{{getLocale}}/press" class="logo logo-basicthinking" title="{{label.footer.featured.hint}} www.basicthinking.de"></a>
                <br>
                <a href="/{{getLocale}}/press" class="logo logo-jetzt" title="{{label.footer.featured.hint}} jetzt.sueddeutsche.de"></a>
                <a href="/{{getLocale}}/press" class="logo logo-fritz" title="{{label.footer.featured.hint}} Fritz.de (Berlin)"></a>
                <a href="/{{getLocale}}/press" class="logo logo-wdr" title="{{label.footer.featured.hint}} wdr.de"></a>
                <a href="/{{getLocale}}/press" class="logo logo-pcpraxis" title="{{label.footer.featured.hint}} PCPraxis.de"></a>
                <a href="/{{getLocale}}/press" class="logo logo-nzz" title="{{label.footer.featured.hint}} Blog.NZZ.ch (Neue Züricher Zeitung)"></a>
            {{/if}}

            {{#if (equals getLocale "en")}}
                <a href="/{{getLocale}}/press" class="logo logo-boingboing" title="{{label.footer.featured.hint}} www.BoingBoing.net"></a>
                <a href="/{{getLocale}}/press" class="logo logo-tnw" title="{{label.footer.featured.hint}} www.TheNextWeb.com"></a>
                <a href="/{{getLocale}}/press" class="logo logo-rww" title="{{label.footer.featured.hint}} www.ReadWriteWeb.com"></a>
                <a href="/{{getLocale}}/press" class="logo logo-hackernews" title="{{label.footer.featured.hint}} HackerNews"></a>
            {{/if}}

            {{#if (equals getLocale "es")}}
                <a href="/{{getLocale}}/press" class="logo logo-wwwhatsnew" title="{{label.footer.featured.hint}} wwwhatsnew.com"></a>
                <a href="/{{getLocale}}/press" class="logo logo-20minutos" title="{{label.footer.featured.hint}} blogs.20minutos.es"></a>
                <a href="/{{getLocale}}/press" class="logo logo-muyinternet" title="{{label.footer.featured.hint}} www.muyinternet.com"></a>
                <br>
                <a href="/{{getLocale}}/press" class="logo logo-bandaancha" title="{{label.footer.featured.hint}} bandaancha.eu"></a>
                <a href="/{{getLocale}}/press" class="logo logo-theinquirer" title="{{label.footer.featured.hint}} www.theinquirer.es"></a>
            {{/if}}

            {{#if (equals getLocale "fr")}}
                <a href="/{{getLocale}}/press" class="logo logo-techcrunch_fr" title="{{label.footer.featured.hint}} fr.TechCrunch.com"></a>
                <a href="/{{getLocale}}/press" class="logo logo-lc1" title="{{label.footer.featured.hint}} www.wat.tv"></a>
            {{/if}}

            {{#if (equals getLocale "it")}}
                <a href="/{{getLocale}}/press" class="logo logo-downloadblogit" title="{{label.footer.featured.hint}} downloadblog.it"></a>
            {{/if}}

            {{#if (equals getLocale "ru")}}
                <a href="/{{getLocale}}/press" class="logo logo-lifehacker_ru" title="{{label.footer.featured.hint}} LifeHacker.ru"></a>
            {{/if}}
        </div>
    {{/unless}}
</footer>