<nav class="navbar navbar-expand-sm navbar-dark text-bg-dark mb-4">
    <div class="container-lg">
        <a class="navbar-brand col-sm-2"
            href="/{{#unless (equals getLocale defaultLang)}}{{getLocale}}{{/unless}}">wifis.org</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#rightNav"
            aria-controls="rightNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-flex" id="rightNav">
            <ul class="navbar-nav nav-pills col-sm-8">
                <li class="nav-item">
                    <a class="text-white nav-link{{#if (equals pageId "home")}} active{{/if}}"
                        href="/{{#unless (equals getLocale defaultLang)}}{{getLocale}}{{/unless}}">
                        {{哌㈣镯瀹扉铍灬忮膦}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="text-white nav-link{{#if (equals pageId "faq")}} active{{/if}}" href="/{{getLocale}}/faq">
                        {{__ "faq.linklabel"}}
                    </a>
                </li>

                {{#if user}}
                    <li class="nav-item">
                        <a class="text-white nav-link{{#if (equals pageId "wifis")}} active{{/if}}"
                            href="/{{getLocale}}/wifis">
                            {{哌Ⅶ殒轶扉铍灬忮膦}
                        </a>
                    </li>
                {{/if}}
            </ul>

            <div class="d-sm-flex col-sm-4 justify-content-sm-end">
                <div class="navbar-nav nav-pills nav-item dropdown text-start langNav">
                    <a href="/{{getLocale}}/languages" class="dropdown-toggle text-white nav-link"
                        data-bs-toggle="dropdown">
                        <span class="sprite flag flag_{{getLocale}}">DE</span>
                    </a>
                    <ul class="dropdown-menu text-small">
                        {{#each getLocales}}
                            <li>
                                <a href={{#if ../wifiId}} "/{{../wifiId}}?lang={{this}}"
                                    {{else}} "/{{this}}{{../urlWithoutLangAndQuery}}" {{/if}}
                                    class="dropdown-item {{#if (equals ../getLocale this)}} active{{/if}}">
                                    <span class="sprite flag flag_{{this}}"></span>
                                    {{../__ (concat "label.lang." this)}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>

                {{#if user}}
                    <div class="navbar-nav nav-pills dropdown text-end">
                        {{#if (equals pageId "wifis")}}
                            {{assign "logout_redirect" "/"}}
                        {{else}}
                            {{assign "logout_redirect" urlWithoutQuery}}
                        {{/if}}

                        <a href="/auth/logout" class="dropdown-toggle text-white nav-link" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{#if user.name}}
                                {{user.name}}
                            {{else}}
                                {{user.email}}
                            {{/if}}

                            <span class="sprite loginType icon icon-{{user.provider}}"></span>
                        </a>
                        <ul class="dropdown-menu text-small">
                            {{!--
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                            --}}
                            <li><a class="dropdown-item" href="/auth/logout">{{__ "label.logout"}}</a></li>
                        </ul>
                    </div>

                {{else}}

                    <a class="nav-item btn btn-light" href="/{{getLocale}}/login">
                        {{__ "label.signin"}}
                        {{#unless (equals (__ "label.signin") (__ "label.signup"))}}
                        /{{__ "label.signup"}}
                        {{/unless}}
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>