<head>
    <!-- Wifis.org ♥ developers - help us https://www.wifis.org/en/languages -->
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{__ "label.mainTeaser"}}" />
    <meta name="keywords" content="wifi, wifis, wlan, share, email, contact" />
    <meta name="author" content="wifis.org" />
    
    {{#if wifiId}}
        {{!-- only /contact + /example wifis should be indexed --}}
        {{#if (or (equals wifiId "contact") (equals wifiId "example"))}}
            <link rel=“canonical” href=“https://wifis.org/{{wifiId}}?lang={{getLocale}}” />
            {{#each getLocales}}
                <link rel="alternate" hreflang="{{this}}" href="https://wifis.org/{{../wifiId}}?lang={{this}}" />
            {{/each}}
            <link rel="alternate" hreflang="x-default" href="https://wifis.org/{{../wifiId}}" />
        {{else}}
            <meta name="robots" content="noindex">
        {{/if}}
    {{else}}
        {{!-- NON wifi pages --}}
        {{#if error}}
            <meta name="robots" content="noindex">
        {{else}}
            <link rel=“canonical” href=“https://wifis.org{{urlWithoutQuery}}” />
            {{#each getLocales}}
                {{#if (equals ../urlWithoutLangAndQuery "")}}
                    <link rel="alternate" hreflang="{{this}}" href="https://wifis.org{{#unless (equals this "en")}}/{{this}}{{/unless}}" />
                    {{#if (equals this "en")}}
                        <link rel="alternate" hreflang="x-default" href="https://wifis.org" />
                    {{/if}}
                {{else}}
                    <link rel="alternate" hreflang="{{this}}" href="https://wifis.org/{{this}}{{../urlWithoutLangAndQuery}}" />
                    {{#if (equals this "en")}}
                        <link rel="alternate" hreflang="x-default" href="https://wifis.org/en{{../urlWithoutLangAndQuery}}" />
                    {{/if}}
                {{/if}}
            {{/each}}
        {{/if}}
    {{/if}}

    <link href="//fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
    {{!-- TODO: Update Boostrap to latest version --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>