<div class="navbar navbar-fixed-top" data-dropdown="dropdown">
    <div class="navbar-inner">
        <div class="container">
            <a class="sprite brand active" href="/{{#unless (equals getLocale "en")}}{{getLocale}}{{/unless}}">
                <span>wifis.org</span>
            </a>

            <ul class="nav pull-right">
                {{#if user}}
                    <li {{#if (equals urlWithoutLangAndQuery "/wifis")}}class="active" {{/if}}>
                        <a href="/{{getLocale}}/wifis">{{{__ "wifis.linklabel"}}}</a>
                    </li>
                {{/if}}

                <li class="dropdown {{#if (or (equals urlWithoutLangAndQuery "/about") (equals urlWithoutLangAndQuery "/faq") (equals urlWithoutLangAndQuery "/press") (equals urlWithoutLangAndQuery "/tos"))}}active{{/if}}">
                    <a href="/{{getLocale}}/faq" class="dropdown-toggle">
                        {{__ "label.otherwebsite.title"}}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li {{#if (equals urlWithoutLangAndQuery "/faq")}}class="active" {{/if}}>
                            <a href="/{{getLocale}}/faq">{{__ "faq.linklabel"}}</a>
                        </li>
                        <li {{#if (equals urlWithoutLangAndQuery "/about")}}class="active" {{/if}}>
                            <a href="/{{getLocale}}/about">{{__ "about.linklabel"}}</a>
                        </li>
                        <li {{#if (equals urlWithoutLangAndQuery "/press")}}class="active" {{/if}}>
                            <a href="/{{getLocale}}/press">{{__ "press.linklabel"}}</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://blog.wifis.org">
                                <span class="external sprite">{{__ "blog.linklabel"}}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li id="langDropDown" class="dropdown{{#if (equals urlWithoutLangAndQuery "/languages")}} active{{/if}}">
                    <a href="/{{getLocale}}/languages?referer={{urlWithoutQuery}}" class="dropdown-toggle">
                        <span class="sprite flag flag_{{getLocale}}"></span>
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        {{#each getLocales}}
                            <li{{#if (equals ../getLocale this)}} class="active"{{/if}}>
                                <a href=
                                    {{#if ../wifiId}}
                                        "{{../urlWithoutLangAndQuery}}?lang={{this}}"
                                    {{else}}
                                        "/{{this}}{{../urlWithoutLangAndQuery}}"
                                    {{/if}}
                                >
                                    <span class="sprite flag flag_{{this}}"></span>
                                    {{../__ (concat "label.lang." this)}}
                                </a>
                            </li>
                        {{/each}}
                        <li>
                            <a href="/{{getLocale}}/languages?referer={{urlWithoutQuery}}" style="text-align: center;">
                                <b style="color: black;">??</b>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown{{#if (equals urlWithoutLangAndQuery "/login")}} active{{/if}}">
                    <!-- when NOT logged in -->
                    {{#if user}}
                        <a href="#" class="dropdown-toggle" id="logout-menu-item" title="logout">
                            <span class="loginName" title="logout">
                                {{#if user.name}}
                                    {{user.name}}
                                {{else}}
                                    {{user.email}}
                                {{/if}}
                            </span>
                            <span class="sprite loginType icon icon-{{user.provider}}"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                {{#if (equals urlWithoutLangAndQuery "/wifis")}}
                                    {{assign "logout_redirect" "/"}}
                                {{else}}
                                    {{assign "logout_redirect" urlWithoutQuery}}
                                {{/if}}
                                <a href="/auth/logout?redirect={{logout_redirect}}">{{__ "label.logout"}}</a>
                            </li>
                        </ul>
                    {{else}}
                        <a href="/{{getLocale}}/login" class="dropdown-toggle">{{__ "label.signin"}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="googleLogin" href="/auth/login/google" title="Login with google" rel="nofollow">
                                    <span>{{__ "login.google.hint"}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebookLogin" href="/auth/login/facebook" title="Login with Facebook" rel="nofollow">
                                    <span>{{__ "login.facebook.hint"}}</span>
                                </a>
                            </li>
                        </ul>
                    {{/if}}
                </li>
            </ul>
        </div>
    </div>
</div>