<form id="addWifiForm" class="form-inline" method="post" autocomplete="off">
    {{#each wifis}}
        <div class="control-group wifiObj" id="wifi{{this.id}}">
            <div class="input-prepend input-append">
                <span class="add-on">wifis.org/</span>
                <span class="add-on wifiName" style="font-weight: bold; background: white;">
                    <a href="/{{this.id}}">{{this.label}}</a>
                </span>
                <span class="add-on deleteButton no-js-hidden">
                    <a class="sprite icon icon-delete" href="javascript: void();" title="{{../__ "wifis.deleteButton"}}"></a>
                </span>
            </div>
        </div>
    {{/each}}

    <div class="input-group mb-3 no-js-hidden">
        <span class="input-group-text" id="basic-addon3">wifis.org/</span>
        <input 
            pattern="^[\w\-]+$" minlength="3" maxlength="20"
            type="text" class="form-control" id="addWifiInput" name="wifiid"
            placeholder="{{__ "wifis.enternew"}}" title="{{__ "wifis.enternew"}}">
       
        <button class="btn btn-primary" value="add" type="submit" formaction="" id="addWifiSave">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{__ "wifis.save"}}
        </button>
        {{!--
        <span class="placeholder" style="width: 30px">&#160;&#160;&#160;</span>
        --}}
        <div class="invalid-feedback help-inline">
           {{#if error}}
                {{!-- __ (concat "wifis.error." error) --}}
            {{/if}}
        </div>
    </div>
</form>