{{assign "title" (concat (__ "label.title") " - " (__ "label.mainTeaser"))}}


{{#each translations.home.quotes}}
    <blockquote>
        <p>{{& this}}</p>
    </blockquote>
{{/each}}
</div>

{{!-- <div class="how_to_subtext">({{__ "home.howToText"}})</div> --}}

<div class="container-lg">
    <h2>{{__ "home.howToHeadline"}}</h2>
    <div class="row row-cols-md-3 text-center p-0">
        {{#each translations.home.teasers}}
            <div class="col p1">
                <div class="card border-0 p-0">
                    <div class="card-header bg-transparent border-0 p-0">
                        <div class="number"><span>{{concat @index 1}}</span></div>
                        <p class="text text-nowrap">{{& this}}</p>
                    </div>
                    <div class="card-body p-0">
                        <img src="/img/teaser{{concat @index 1}}_small.png" alt="..." width="210" height="210" />
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div class="container-lg">
    <div class="wifichecker">
        <div class="mb-2 text-center fw-bold">{{{__ "home.wifichecker"}}} </div>
        {{> wifiForm }}
    </div>