{{{__ "press.text"}}}

<h3>{{__ "label.lang.en"}}</h3>

<ul class="breadcrumb breadcrumbWithLogos">
    <li>
        {{!-- PR7: Here’s one of those “A crazy idea but it might just work” projects. Wifis.org is billed as “A contact form for your WiFi network.” --}}
        <a class="logo logo-tnw"
            href="http://thenextweb.com/apps/2011/12/23/turn-your-wifi-network-into-a-private-messaging-service-with-wifis/"
            target="_blank" title="23.12.2011 - TheNextWeb.com - by Martin Bryant">TheNextWeb.com</a>

    </li>
    <li>
        {{!--PR7: Internet users usually think of Wi-Fi networks as either open--}}
        <a class="logo logo-rww"
            href="http://www.readwriteweb.com/archives/turn_your_wifi_network_into_a_twitter-like_private.php"
            target="_blank" title="3.1.2012 - ReadWriteWeb.com - by Alicia Eler">ReadWriteWeb.com</a>
        {{!--
                    http://www.seofacts.biz/turn-your-wifi-network-into-a-twitter-like-private-messaging-platform/
                --}}
    </li>
    <li>
        {{!--PR7: Mathias Nitzsche had a nifty idea: using Wi-Fi network names to create a--}}
        <a class="logo logo-boingboing" href="http://www.boingboing.net/2011/12/16/say-wi-fi-hi.html" target="_blank"
            title="16.12.2011 - BoingBoing.net - by Glenn Fleishman">BoingBoing.net</a>

    </li>
    <li>
        {{!--PR6: --}} <a class="logo logo-hackernews" href="http://news.ycombinator.com/item?id=4932829"
            target="_blank" title="17.12.2012 - hackernews">HackerNews</a>
    </li>
    <li>
        {{!--PR6: The Wi-Fi network at your home has a public name, also known as SSID, that will often show  --}}
        <a class="logo logo-dig_ins" href="http://www.labnol.org/internet/share-wifi-with-neighbors/21024/"
            target="_blank" title="19.3.2012 - labnol.org - Amit Agarwal">labnol.org</a>
        {{!--
                    http://www.aheliotech.com/let-others-contact-you-through-your-own-wi-fi-network/
                    http://techtoll.wordpress.com/2012/03/25/let-others-contact-you-through-your-own-wi-fi-network/
                    http://iwebstech.blogspot.de/2012/04/let-others-contact-you-through-your-own.html
                --}}
    </li>
    <li>
        {{!--PR7 --}} <a href="http://www.crunchbase.com/company/wifis-org" target="_blank"
            title="1.11.2011 - CrunchBase.com">CrunchBase.com</a>

    </li>
    <li>
        {{!--PR5: Founded late last year in Berlin, Wifis.org aims to help neighbours get in touch. The free service connects people--}}
        <a href="http://gearburn.com/2012/01/wifis-org-the-wi-fi-social-network/" target="_blank"
            title="30.1.2012 - gearburn.com - by Martin Carsten">GearBurn.com</a>
        {{!--
                    http://opportunitytoexcel.wordpress.com/2012/03/27/wifis-org-the-wi-fi-social-network/
                --}}
    </li>
    <li>
        {{!--PR5: Wifis.org is a start-up that aims to be a contact form for your Wi-Fi network.--}}
        <a href="http://popupcity.net/2011/12/wifis-org-turns-wireless-networks-into-digital-post-boxes/"
            target="_blank" title="28.12.2011 - PopUpCity.net - by Jeron Beekmans">PopUpCity.net</a>
        {{!--
                    http://urbanfunscape.tumblr.com/post/15881977741/wifis-org-is-a-start-up-that-aims-to-be-a-contact
                --}}
    </li>
    <li>
        {{!--PR6 nofollow link: I like this site for the simple reason that it's got the power to take something which's got a fixed role, and change it for good.--}}
        <a href="http://www.killerstartups.com/Social-Networking/wifis-org-make-friends-with-your-wifi-network"
            target="_blank" title="4.1.2012 - KillerStartups.com - by Roger Hollings"
            rel="nofollow">KillerStartups.com</a>
        {{!--
                    http://www.web2null.de/wifis
                --}}
    </li>
    <li>
        {{!--PR3: You know how it is – you’ve just moved in to your new Altbau and your Wifi oxygen has been cut off.--}}
        <a href="http://venturevillage.eu/free-wifi-berlin" target="_blank"
            title="20.2.2012 - VentureVillage.eu - by Linsey Fryatt">VentureVillage.eu</a>

    </li>
    <li>
        {{!--PR5: Most if not all modern laptops or tablets comes with a wireless adapter and that allows you to conveniently connect to the Internet without cables. Read more: http://www.raymond.cc/blog/wifis-org-offers-free-contact-form-for-your-wi-fi-network/#ixzz1tVp59B9l--}}
        <a href="http://www.raymond.cc/blog/wifis-org-offers-free-contact-form-for-your-wi-fi-network/" target="_blank"
            title="März 2012 - Raymond.cc">Raymond.cc</a>
    </li>
    <li>
        {{!--PR6: When WiFi was first becoming a thing, it was kind of beautiful. --}}
        <a href="http://blog.evernote.com/opportunitynotes/2012/12/18/good-wifi-fences-make-good-neighbors"
            target="_blank" title="18.12.2012 - Blog.EverNote.com - by Rafe Needleman">Blog.EverNote.com</a>

    </li>
    <li>
        {{!--PR4--}} <a
            href="http://en.wikinoticia.com/Technology/internet/105670-let-your-neighbors-will-make-offers-to-access-your-wifi-with-wifisorg"
            target="_blank" title="8.1.2012 - en.WikiNoticia.com">en.WikiNoticia.com</a>

    </li>
    <li>
        {{!--PR3: Wifis is a helps neighbour to get in touch with each other through their wi-fi network.--}}
        <a href="http://startuptunes.com/2012/02/23/wifis-connect-with-neighbours-through-your-wi-fi/" target="_blank"
            title="23.2.2012 - StartupTunes.com">StartupTunes.com</a>

    </li>
    <li>
        {{!--PR3: ‘Think globally and act locally’ is the order of the day.--}}
        <a href="http://www.sitestouse.com/get-connected-to-other-users-on-same-wi-fi-network/" target="_blank"
            title="15.8.2012 - SitesToUse.com - by Neha">SitesToUse.com</a>

    </li>
    <li>
        {{!--PR3: Now your friendly neighbors might invite you to have a beer or ask you to share your internet access for a monthly payment.--}}
        <a href="http://visionwiz.net/2012/01/find-friends-via-your-wifi-connection/" target="_blank"
            title="5.1.2012 - VisionWiz.net">VisionWiz.net</a>

    </li>
    <li>
        {{!--PR4: Founded in December of 2011 in Berlin www.wifis.org helps neighbors to get in touch through their Wi-Fi network.--}}
        <a href="http://tekedia.com/35369/wifisorg-wifi-social-network/" target="_blank"
            title="1.2.2012 - tekedia.com">Tekedia.com</a>
    </li>
    <li>
        {{!--PR4: The main feature of wifis.org is to provide an instant messaging system connected to your wireless connection.--}}
        <a href="http://www.mysensetechnology.com/2012/01/get-messaging-system-with-your-wifi.html" target="_blank"
            title="14.1.2012 - mysensetechnology.com">MySenseTechnology.com</a>

    </li>
    <li>
        {{!--PR0: Just like every computer that connects to the Internet has (or gets) a name (IP address)--}}
        <a href="http://www.gizmowiki.com/2012/03/communicating-via-wifi.html" target="_blank"
            title="22.3.2012 - gizmowiki.com">GizmoWiki.com</a>
    </li>
    {{!--
                http://globalgeeknews.com/2011/08/08/best-wi-fi-access-point-names-ever-pic/ (PR6)
                http://youtu.be/TYGEbTqMpxw  (Schlecht erklärt)
                
                strange:
                only images: PR0: http://itgeeek.blogspot.de/2012/08/get-connected-to-other-users-on-same-wi.html
                http://knowledgecredits.com/index.php/en/blogs/item/31-wifi--advancements
            --}}
</ul>



<h3>{{__ "label.lang.de"}}</h3>

<ul class="breadcrumb breadcrumbWithLogos">
    <li>
        {{!--PR6--}} <a class="logo logo-golem" href="http://www.golem.de/1201/88811.html" target="_blank"
            title="5.1.2012 - golem.de - by Jens Ihlenfeld">Golem.de</a>
    </li>
    <li>
        {{!--PR7--}} <a class="logo logo-jetzt"
            href="http://jetzt.sueddeutsche.de/texte/anzeigen/536434/Haste-mal-n-bisschen-Internet" target="_blank"
            title="10.1.2012 - jetzt.sueddeutsche.de - by Christian Helten">Jetzt.SuedDeutsche.de</a>
        {{!-- 
                    http://www.majoxl.de/?p=2281
                --}}
    </li>
    <li>
        {{!--PR7--}} <a class="logo logo-netzwertig"
            href="http://netzwertig.com/2012/01/05/wifis-org-online-kontaktseite-fur-das-eigene-wlan/" target="_blank"
            title="5.1.2012 - netzwertig.com - by Martin Weigert">Netzwertig.com</a>
    </li>
    <li>
        {{!--PR4--}} <a class="logo logo-basicthinking"
            href="http://www.basicthinking.de/blog/2011/12/28/wifis-org-neue-leute-ubers-wlan-kennenlernen/"
            target="_blank" title="28.12.2011 - basicthinking.de - by Jürgen Vielmeier">BasicThinking.de</a>
    </li>
    <li>
        {{!--PR6--}} <a class="logo logo-fritz"
            href="http://www.fritz.de/neues_wort/multimedia/2012/01/beitrag18850.html" target="_blank"
            title="10.1.2012 - fritz.de">Fritz.de</a>
    </li>
    <li>
        {{!--PR7--}} <a class="logo logo-wdr" href="http://www1.wdr.de/themen/digital/wifisorg100.html" target="_blank"
            title="16.1.2012 - wdr.de - by David Nießen">WDR.de</a>
        {{!-- 
                    Verweis: http://jusatpublicum.wordpress.com/2012/01/16/welcome-in-my-www-world-neighbour/
                --}}
    </li>
    <li>
        {{!--PR5--}} <a class="logo logo-pcpraxis"
            href="http://www.pcpraxis.de/pcpnews_225_11812_Mit_WLAN_E-Mails_empfangen.html" target="_blank"
            title="12.1.2012 - PCPraxis.de - by Matthias Kästner">PCPraxis.de</a>
    </li>
    <li>
        {{!--PR7--}} <a class="logo logo-nzz" href="http://campus.nzz.ch/blogs/wer-steckt-hinter-happyathome"
            target="_blank" title="11.1.2012 - campus.blog.nzz.ch - by Ronald Schenkel">Blog.NZZ.ch</a>
    </li>
    <li>
        {{!--PR7--}} <a href="http://www.radiobremen.de/bremenvier/programm/surftipps/axelp/wifis104.html"
            target="_blank" title="16.1.2012 - RadioBremen.de - by BremenVier.online">RadioBremen.de</a>

    </li>
    <li>
        {{!--PR6--}} <a href="http://www.campusradio-jena.de/2012/01/12/internet-im-radio-social-wlan/" target="_blank"
            title="12.1.2012 - Oli K. - by CampusRadio-Jena.de">CampusRadio-Jena.de</a>

    </li>
    <li>
        {{!--PR5--}} <a href="http://www.theofel.de/g/aq" target="_blank"
            title="19.12.2011 - theofel.de - by Jan Theofel">theofel.de</a>
    </li>
    {{!--
                <li> PR5 
                    <a href="http://www.googlewatchblog.de/2011/11/opt-out-google-wlan/" target="_blank" title="15.11.2011 - googlewatchblog.de - by Pascal Herbert">GoogleWatchBlog.de</a>
                    
                </li>
            --}}
    <li>
        {{!--PR5: Sucht man mit einem WLAN-fähigen Gerät in einer bewohnten Gegend nach drahtlosen Netzwerken,--}}
        <a href="http://tarifecheck.at/news/5824-Kontaktformular-fuer-das-eigene-WLAN" target="_blank"
            title="5.1.2012 - TarifeCheck.at">TarifeCheck.at</a>

    </li>
    <li>
        {{!--PR3: Die Betreiber von Wifis.org haben eine so simple Idee realisiert, das es schon fast schmerzt.--}}
        <a href="http://www.blogh.de/991/mein-wlan-bekommt-jetzt-post.html" target="_blank"
            title="10.1.2012 - blogh.de - by Peter Schink">BlogH.de</a>

    </li>
    <li>
        {{!--PR3: Mit Wifis.org hat der in Berlin ansässige Web-Entwickler Mathias Nitzsche einen innovativen Dienst gestartet, der eine eigene Mail-Adresse fürs heimische WLAN ermöglicht. --}}
        <a href="http://www.wlan-info.net/netzerk-news/mail-adresse-furs-heimische-wlan" target="_blank"
            title="7.1.2012 - WLAN-Info.net - by Maximilian Schirmer">WLAN-Info.net</a>

    </li>
    <!--
            <li>{{!--PR6: NO FOLLOW - Mit einem Account bei Wifis.org kann man sein eigenes WLAN mit einem Mailaccount verknüpfen und so Kontakt zu Nachbarn herstellen, die mitsurfen wollen. --}} 
                <a href="http://www.winload.de/download/wifis.org-117065" target="_blank" title="13.2.2012 - WinLoad.de" rel="nofollow">WinLoad.de</a>
                
                {{!-- 
                http://www.arcor.de/content/pc_technik/computer/downloads/telefon_dfue/90973934,1,artikel,Wifis.org+.html?cp=2
                --}}
            </li>
            -->
    <li>
        {{!--PR5: IT-Freiberufliche und KMU-Betriebe sind, etwa in größeren Bürogebäuden, nicht selten in unmittelbarer Nachbarschaft angesiedelt. --}}
        <a href="http://www.it-administrator.de/themen/kommunikation/111189.html" target="_blank"
            title="7.3.2012 - Lars Nitsch - IT-Administrator.de">IT-Administrator.de</a>

    </li>
    <li>
        {{!--PR5: Ein Entwickler aus Berlin hat Ende 2011 einen Dienst gestartet, mit dem es möglich ist, das eigene WLAN mit einer E-Mail-Adresse zu versehen. --}}
        <a href="http://www.mailhilfe.de/load.php?name=News&file=article&sid=3524" target="_blank"
            title="5.1.2012 - mailhilfe.de">MailHilfe.de</a>
    </li>
    <li>
        {{!--PR3: Jedes WLAN hat einen eigenen Namen. Die sogenannte SSID (Service Set Identifier)--}}
        <a href="http://provider-stoerung.de/blog/2012/welchen-namen-soll-mein-wlan-haben/" target="_blank"
            title="5.1.2012 - provider-stoerung.de - by Christoph">Provider-Stoerung.de</a>

    </li>
    <li>
        {{!--PR4: Heute wurde ich von Mathias Nitzsche auf eines seiner Projekte aufmerksam gemacht.--}}
        <a href="http://www.tech-blog.net/wifis-org-mit-besitzern-von-wifi-netzwerken-kontakt-aufnehmen/"
            target="_blank" title="25.1.2012 - tech-blog.net - by Damian Schwyrz">Tech-Blog.net</a>

    </li>
    <li>
        {{!--PR3: Das geborgte Internet: Der Berliner Webentwickler Mathias Nitzsche setzt auf verleihbares Internet --}}
        <a href="http://www.magazin-forum.de/das-geborgte-internet/" target="_blank"
            title="18.3.2012 - Magazin-Forum.de - by Stephan Humer">Magazin-Forum.de</a>

    </li>
    <li>
        {{!--PR0: Mir erging es in der Vergangenheit immer so, dass wenn ich in Urlaub gefahren bin, --}}
        <a href="http://kokakolako.de/w-lan-netzwerke-teilen-mit-wifis-org/" target="_blank"
            title="7.2.2012 - kokakolako.de - by Niklas Köhler">kokakolako.de</a>

    </li>
    <li>
        {{!--PR0: Klingt etwas doof, aber beschreibt eigentlich genau das, worum es geht.--}}
        <a href="http://nachtlog.de/wifis-org-e-mails-per-wifi-wlan" target="_blank"
            title="5.1.2012 - NachtLog.de - by Gerrit Edzards">NachtLog.de</a>
    </li>

    {{!-- 
                http://www.heise.de/ct/artikel/Funk-Vorbereitung-1421535.html
                http://www.birnensaft.me/entry.php?3-wifis-org-Dein-WLAN-kann-Emails-empfangen
                http://www.computerfrage.net/frage/ist-wifisorg-schon-hinreichend-bekannt-so-dass-man-es-anbieten-kann
                eher negativ: http://macsimus.de/?p=255
                
                PR0: http://newsnetz-blog.ch/webflaneur/blog/2012/02/28/sehr-schone-ssid/
                
                dpa (meist ohne link): 
                    http://www.focus.de/digital/computer/internet-wlan-nicht-bedenkenlos-fuer-dritte-oeffnen_aid_701990.html
                    http://www.stern.de/digital/wlan-nicht-bedenkenlos-fuer-dritte-oeffnen-1772914.html
                    http://www.schwaebische.de/journal/multimedia_artikel,-WLAN-nicht-bedenkenlos-fuer-Dritte-oeffnen-_arid,5189960.html
                    http://www.augsburger-allgemeine.de/digital/WLAN-nicht-bedenkenlos-fuer-Dritte-oeffnen-id18273161.html
                    http://www.muensterschezeitung.de/leben/digitale_welt/computer_multimedia/Computer-Multimedia;art369,1523905
                    http://www.verivox.de/nachrichten/geteiltes-wlan-ist-fuer-betreiber-ein-rechtliches-risiko-83092.aspx
                    http://newsticker.sueddeutsche.de/list/id/1260841
                    http://www.ruhrnachrichten.de/leben/digitale_welt/computer_multimedia/WLAN-nicht-bedenkenlos-fuer-Dritte-oeffnen;art369,1523905
                    http://www.lr-online.de/tipps-und-trends/computer_multimedia/WLAN-nicht-bedenkenlos-fuer-Dritte-oeffnen;art805,3640957
                    http://www.it-news-world.de/news_8038/WLAN-nicht-bedenkenlos-fuer-Dritte-oeffnen.html
                    http://www.recklinghaeuser-zeitung.de/ratgeber/multimedia/WLAN-nicht-bedenkenlos-fuer-Dritte-oeffnen;art302,649073
                    http://www.mainpost.de/ueberregional/multimedia/computer_multimedia/art506,6550891
                    http://www.fnp.de/fnp/ratgeber/computer-co/wlan-nicht-bedenkenlos-fuer-dritte-oeffnen_rmn01.c.9509048.de.html
                    http://www.weser-kurier.de/Artikel/Ratgeber/Multimedia/News/515566/WLAN-nicht-bedenkenlos-fuer-Dritte-oeffnen.html
                    http://abmahnung-blog.de/andere-rechtsgebiete/deutscher-anwaltsverein-geteiltes-wlan-birgt-fuer-betreiber-rechtliches-risiko
            --}}
</ul>



<h3>{{__ "label.lang.es"}}</h3>

<ul class="breadcrumb breadcrumbWithLogos">
    <li>
        {{!--PR5: wifis.org se presenta como un interesante proyecto para facilitar el compartir voluntariamente la conexión Wi-Fi --}}
        <a class="logo logo-bandaancha"
            href="http://bandaancha.eu/articulo/8228/deja-tus-vecinos-hagan-ofertas-acceder-tu-wifi-wifis-org"
            target="_blank" title="8.1.2012 - BandaAncha.eu - by Luis">BandaAncha.eu</a>
        {{!--
                    PR0: 9.1. http://www.sixpads.com/2012/deja-que-tus-vecinos-te-hagan-ofertas-para-acceder-a-tu-wifi-en-wifis-org/
                    PR2: 9.1. http://www.aldiabolivia.com/2012/01/deja-que-tus-vecinos-te-hagan-ofertas.html
                    PR3: 9.1. http://queri2camaradas.blogspot.com/2012/01/wifisorg.html" target="_blank" title="9.1.2012
                    http://ersepa.blogspot.com/2012/01/wifisorg-comparte-tu-wifi.html
                    http://www.xgrabu.com/index.php/xblog/87-otros/287-deja-que-tus-vecinos-te-hagan-ofertas-para-acceder-a-tu-wifi-con-wifisorg
                --}}
    </li>
    <li>
        {{!--PR3: El titulo puede generarte un poco de desconcierto--}} <a class="logo logo-wwwhatsnew"
            href="http://wwwhatsnew.com/2011/12/26/wifis-hacer-amigos-compartiendo-tu-wifi/" target="_blank"
            title="26.12.2011 - wwWhatsNew.com - by Juan Diego Polo">wwWhatsNew.com</a>
        {{!--
                    NUR KOPIE: http://blog.comunidadcibertec.com/2011/12/wifis-hacer-amigos-compartiendo-tu-wifi/ (PR1)
                    NUR KOPIE: http://tw.myblog.yahoo.com/jw!9EJiHLKAHxVSpfxCMm2qVDDHATEq1w--/article?mid=-2&prev=6019&l=a&fid=49
                --}}
    </li>
    <li>
        {{!--PR6: ¿Hola, te gustaría compartir tu wifi a cambio de un pago mensual?--}}
        <a class="logo logo-20minutos"
            href="http://blogs.20minutos.es/codigo-abierto/2012/01/08/wifi-abierto-para-una-sociedad-abierta/"
            target="_blank" title="8.1.2012 - blogs.20minutos.es - by Bernado Gutiérrez">Blogs.20minutos.es</a>
    </li>
    <li>
        {{!--PR5: Este singular servicio web nos permite no sólo rentabilizar una conexión a Internet--}}
        <a class="logo logo-muyinternet" href="http://www.muyinternet.com/2012/01/09/compartir-internet-con-vecinos"
            target="_blank" title="9.1.2012 - muyInternet.com - by Verónica Cabezudo">muyInternet.com</a>
    </li>
    <li>
        {{!--PR5--}} <a class="logo logo-theinquirer"
            href="http://www.theinquirer.es/2011/12/23/%C2%BFutilizarias-tu-red-wi-fi-para-mandar-mensajes-a-tus-vecinos.html"
            target="_blank" title="23.12.2011 - TheInquirer.es - by Jaime Domenech">
            TheInquirer.es</a> {{!--
                    PR1: http://infsoluciones.net84.net/Noticias/tecnologia/diciembre/24.12.11/tecnologia1.html
                    PR2: http://www.siskatec.com/utilizarias-tu-red-wi-fi-para-contactar-con-tus-vecinos.html
                --}}
    </li>
    <li>
        {{!--PR4: Pues de entrada no se le ve demasiado sentido pero una segunda mirada la hace aparecer como una idea genial--}}
        <a href="http://www.dreig.eu/caparazon/2012/01/04/wifi-en-red-social/" target="_blank"
            title="4.1.2012 - dreig.eu - by Dolors Reig">dreig.eu</a>

    </li>
    <li>
        {{!--PR5: Wifis.org se trata de un sitio que convierte nuestras redes wifi en redes sociales privadas--}}
        <a href="http://mallorcaconfidencial.com/20120109_71184-convierte-tu-wifi-en-una-red-social-privada.html"
            target="_blank" title="9.1.2012 - MallorcaConfidencial.com">MallorcaConfidencial.com</a>

    </li>
    <li>
        {{!--PR4: Cuando usamos una red WiFi no sólo estamos accediendo a internet a través--}}
        <a href="http://www.omicrono.com/2012/01/intercambia-mensajes-privados-con-cualquiera-en-tu-red-wifi-con-wifis/"
            target="_blank" title="4.1.2012 - omicrono.com">omicrono.com</a>
    </li>
    <li>
        {{!--PR3: ¿Qué te parece la idea de que pudieras comunicarte con otras personas a través de las conexiones Wi-Fi?--}}
        <a href="http://conecti.ca/2011/12/23/tu-red-wi-fi-podria-ser-un-servicio-de-mensajeria-privada/"
            target="_blank" title="23.12.2011 - conecti.ca - by Clau Ocampo">conecti.ca</a>

    </li>
    <li>
        {{!--PR3: A tod@s nos gusta ir a algún sitio y descubrir que hay alguna red wifi abierta--}}
        <a href="http://seetio.com/blog/2011/12/24/wifis-comparte-tu-wifi-y-socializa-con-tus-vecinos/" target="_blank"
            title="24.12.2011 - seetio.com - by Javier Muniz">seetio.com</a>

    </li>
    <li>
        {{!--PR3: Ha surgido una nueva manera de compartir nuestra red Wireless, esta nueva web llamada http://www.wifis.org nos invita a compartir nuestra red a través de ella de una manera gratuita y sencilla. --}}
        <a href="http://www.pumawifi.org/index.php?q=node/131" target="_blank"
            title="12.4.2012 - pumawifi.org">PumaWifi.org</a>
    </li>
    <li>
        {{!--PR1: Suelen advertirnos que dejar libre nuestra WiFi para que cualquiera la use no es precisamente--}}
        <a href="http://www.arroba.com.mx/byte/blog/2011/12/wifis/" target="_blank"
            title="27.12.2011 - theInquirer.es - by Mari T. Rosas">arroba.com.mx</a>

    </li>
    <li>
        {{!--PR2: Wifis es un nuevo servicio que introduce algo completamente novedoso --}}
        <a href="http://rj45.mx/3206/wifis-usa-tu-wifi-para-comunicarte/" target="_blank"
            title="26.12.2011 - rj45.mx - by Eduardo">rj45.mx</a>

    </li>
    <li>
        {{!--PR6--}} <a
            href="http://blogs.uab.cat/gmartinez/2011/12/24/wifis-convierte-tu-red-wi-fi-en-un-servicio-de-mensajeria-privada/"
            target="_blank" title="24.12.2011 - by Gustavo Martínez">blogs.uab.cat/gmartinez</a>

    </li>
    <li>
        {{!--PR2: ¿Quieres socializar con tus vecinos gracias a tu red de WiFi?--}}
        <a href="http://www.adslayuda.com/n4008-Wifis-org-permite-compartir-WiFi-con-tus-vecinos.html" target="_blank"
            title="9.1.2012 - AdslAyuda.com">AdslAyuda.com</a>
        {{!--
                    PR6, kein BL: http://es.globedia.com/wifis-org-permite-compartir-wifi-vecinos
                --}}
    </li>
    <li>
        {{!--PR5: La web nos permite renombrar nuestro Wi-Fi con un nombre tipo--}}
        <a href="http://www.elboyaldia.cl/node/13673" target="_blank"
            title="12.1.2012 - ElBoyaldia.cl (+ ElNaveghable.cl, ElMorrocotudo.cl, LaOpinon.cl) - by Ronald Yavar">ElBoyaldia.cl</a>
        {{!--
                    PR5: http://www.elboyaldia.cl/node/13673
                    http://www.elmorrocotudo.cl/noticia/tecnologia/como-compartir-wi-fi-con-tus-vecinos
                    http://www.elnaveghable.cl/node/14889
                    http://www.laopinon.cl/noticia/tecnologia/conoce-wifisorg-y-comparte-wifi-con-quien-quieras
                --}}
    </li>
    <li>
        {{!--PR3: Ya hay páginas web que facilitan este tipo de conductas--}}
        <a href="http://inavegar.es/general/compartir-la-senal-wifi-entre-vecinos-para-reducir-costes" target="_blank"
            title="24.12.2011 - inavegar.es">inavegar.es</a>
    </li>
    <li>
        {{!--PR3: Todos los que vivan en una comunidad podrán ver como si buscan una red WiFi--}}
        <a href="http://www.movilinvasion.es/2012/01/quieres-que-tus-vecinos-ofertas-wifi-con-wifis-org/"
            target="_blank" title="28.1.2012 - movilinvasion.es - by Rosendo">MovilInvasion.es</a>

    </li>
    <li>
        {{!--PR2: Es muy común que sí no tenés Internet en tu casa y sí tenés una Notebook--}}
        <a href="http://descargate.net/wifis-comparti-tu-wifi-y-hacete-amigos/" target="_blank"
            title="26.12.2011 - Descargate.net">Descargate.net</a>
        {{!--
                    http://tublogdelpc.blogspot.com/2011/12/comparte-tu-red-wifi-con-wifisorg.html (PR1)
                --}}
    </li>
    <li>
        {{!--PR1: Como estudiambres foráneos, lo primero que buscamos --}} <a
            href="http://soyestudiambre.com/1623/reduce-los-costos-de-tu-conexion-de-wifi-como-buen-estudiambre/"
            target="_blank" title="9.1.2012 - SoyEstudiambre.com">SoyEstudiambre.com</a>

    </li>
    <li>
        {{!--PR1: Quizá nuestra señal inalámbrica de Internet no sea solamente un motivo para --}}
        <a href="http://zavordigital.com/blog/2012/01/ahora-podras-cobrar-a-tus-vecinos-por-usar-tu-red-inalambrica/"
            target="_blank" title="9.1.2012 - ZavorDigital.com - by Daniel">ZavorDigital.com</a>

    </li>
    <li>
        {{!--PR0: ¿Te has planteado alguna vez compartir un acceso wifi pero no te convenze el hecho de dejar la wifi abierta y sin contraseña?. --}}
        <a href="http://portalvasco.com/blog/?p=6359" target="_blank"
            title="21.8.2012 - PortalVasco.com - by Alvaro">PortalVasco.com</a>

    </li>
    <li>
        {{!--PR2: Wifis es un interesante proyecto web, el--}} <a
            href="http://www.electrocutado.com/wifis-has-amigos-al-compartir-tu-wifi/" target="_blank"
            title="19.1.2012 - ElectroCutado.com - by Mykeura">ElectroCutado.com</a>

    </li>
    <li>
        {{!--PR2: Wifis es un servicio web que permite compartir tu conexión WiFi--}}
        <a href="http://www.digitalnotice.com.ar/2011/12/wifis-comparti-tu-wifi-y-conoce-nuevas.html" target="_blank"
            title="26.12.2011 - DigitalNotice.com.ar">DigitalNotice.com.ar</a>
    </li>
    {{!--
                http://foro.elhacker.net/empty-t348449.0.html
                PR3 (EHER NEGATIVE) - http://www.criandocuervos.com/?p=5986
                
                PR1: 	Katalan: http://www.consumcollaboratiu.com/2012/02/27/comparteix-wifi-rentadora-apats/
                        Espanol: http://www.consumocolaborativo.com/2012/02/27/comparte-con-tu-vecino-wifi-lavadora-y-comida/
                PR2: http://www.nearshoreweb.com/blog/2011/12/28/wifis-org-comparte-tu-conexion-y-haz-amigos-9/
                PR3: http://fegoal.blogspot.com/2012/02/oferta-tu-wifi-los-vecinos.html
            --}}
</ul>



<h3>{{__ "label.lang.fr"}}</h3>

<ul class="breadcrumb breadcrumbWithLogos">
    <li>
        {{!--PR7--}} <a class="logo logo-techcrunch_fr"
            href="http://fr.techcrunch.com/2012/01/16/tcfr-le-zapping-de-la-semaine-4/" target="_blank"
            title="16.1.2012 - FR.TechCrunch.com - by Julien Mechin">FR.TechCrunch.com</a>
    </li>
    <li>
        {{!--PR6--}} <a class="logo logo-lc1"
            href="http://www.wat.tv/video/ports-partages-porcs-maltraites-4uokf_2exyh_.html" target="_blank"
            title="13.2.2012 - www.wat.tv (LC1) - by Emmanuel Raoul">Wat.tv</a>
    </li>
    <li>
        {{!--PR4--}} <a href="http://consocollaborative.com/2171-wifis-org-wifi-partage.html" target="_blank"
            title="31.1.2012 - ConsoCollaborative.com - by Lathuilière Maxime">ConsoCollaborative.com</a>
        {{!-- 
                    http://tree2share.org/article-1707-wifis.org-quand-le-wifi-devient-social-.
                --}}
    </li>
    <li>
        {{!--PR4: Pourquoi ne vous laisseriez pas la possibilité à vos voisins de vous laisser un message grâce à votre réseau WiFi ?--}}
        <a href="http://blogmotion.fr/systeme/connexion-wifi-8063" target="_blank"
            title="5.4.2012 - Blogmotion.fr - by Mr Xhark">Blogmotion.fr</a>

    </li>
    <li>
        {{!--PR3--}} <a href="http://www.panoptinet.com/archives/6016" target="_blank"
            title="6.3.2012 - PanoptiNet.com">PanoptiNet.com</a>

    </li>
    <li>
        {{!--PR3--}} <a
            href="http://slydnet.com/web/une-facon-originale-de-faire-profiter-de-votre-wifi-grace-a-wifis-org/"
            target="_blank" title="4.1.2012 - slydnet.com - by Par Sylvain">SlydNet.com</a>

    </li>
    <li>
        {{!--PR3 französische Übersettzung von bandaancha.eu--}} <a
            href="http://fr.wikinoticia.com/Technologie/Internet/105055-dites-a-vos-voisins-vont-faire-des-offres-pour-acceder-a-votre-wifi-avec-wifisorg"
            target="_blank" title="8.1.2012 - fr.WikiNoticia.com">fr.WikiNoticia.com</a>

    </li>
    <li>
        {{!--PR5 kein Link--}} <a href="http://leblog.wcie.fr/2012/01/03/une-prise-de-contact-via-notre-wifi/"
            target="_blank" title="3.1.2012 - leblog.wcie.fr - by Claire V." rel="nofollow">LeBlog.wcie.fr</a>
    </li>

    {{!-- 
        PR0 - sehr kleine Site: http://www.alternativesinfo.com/2012/02/le-partage-pas-cher-et-solidaire/#more-730
    --}}
</ul>



<h3>{{__ "label.lang.ru"}}</h3>

<ul class="breadcrumb breadcrumbWithLogos">
    <li>
        {{!--PR4--}} <a class="logo logo-lifehacker_ru" href="http://lifehacker.ru/2012/03/20/wifis/" target="_blank"
            title="20.3.2012 - LifeHacker.ru - by Слава Баранский">LifeHacker.ru</a>
    </li>
</ul>



<h3>{{__ "label.lang.it"}}</h3>

<ul class="breadcrumb breadcrumbWithLogos">
    <li>
        {{!--PR6: La caratteristica principale di wifis.org è quella di fornire un sistema di messaggistica istantanea collegato alla propria connessione --}}
        <a class="logo logo-downloadblogit"
            href="http://www.downloadblog.it/post/15911/ottenere-un-sistema-di-messaggistica-con-la-propria-connessione-wifi"
            target="_blank" title="3.1.2012 - downloadblog.it - by Federico Moretti">Download
            Blog.it</a>
    </li>
    <!-- 
            <li>{{!--PR4: Wifis.org è un servizio gratuito del quale ebbi modo di parlare altrove l’anno scorso --}} 
                <a href="http://hi-tech.leonardo.it/wifis-org-come-funziona-fatti-contattare-utilizzando-la-tua-rete-wifi-da-chi-passeggia-nei-dintorni/" target="_blank" title="5.1.2013 - hi-tech.leonardo.it - by Federico Moretti">hi-tech.leonardo.it</a>
                
            </li>
            -->
    <li>
        {{!--PR4: Chi ha una rete wifi a casa può sfruttare la simpatica idea del sito Wifis per trasformare la propria rete privata in un mezzo di contatto.--}}
        <a href="http://www.navigaweb.net/2012/09/modulo.di-contatto-per-reti-wifi.html" target="_blank"
            title="13.9.2012 - NavigaWeb.net by Claudio Pomhey">NavigaWeb.net</a>
    </li>
    <!--
        http://jfkmdd.blogspot.it/2012/03/condividi-la-tua-wi-fi-network-wifisorg.html
    -->
</ul>



<h3>{{__ "label.lang.cn"}}</h3>

<ul class="breadcrumb">
    <li>
        {{!--PR5--}} <a href="http://www.oschina.net/news/35894/wifis-wifi-email" target="_blank"
            title="18.12.2012 - oschina.net">oschina.net</a>
    </li>
    <li>
        {{!--PR3--}} <a href="http://unwire.hk/2011/12/25/wifis-org/news/" target="_blank"
            title="24.12.2011 - unwire.hk">unwire.hk</a>
    </li>
    <li>
        {{!--PR6--}} <a href="http://www.leiphone.com/wifis-wifi-network.html" target="_blank"
            title="24.12.2011 - leiphone.com - by Sarah Long">leiphone.com</a>

        {{!-- 
            KOPIE:
                http://tech2ipo.com/40077/ (PR6)
                http://www.21vc.com/news/?p=21963 (PR3)
                http://www.hksilicon.com/kb/articles/50150/WifisorgWiFi (PR4)
                http://www.appyao.com/2011/bjtj_1227/6923.html (PR4)
        --}}
    </li>
    <li>
        {{!--PR4 kein Link--}} <a href="http://hk.ibtimes.com/articles/7607/20111224/wifis-org-wifi.htm" target="_blank"
            title="25.12.2011 - hk.ibtimes.com" rel="nofollow">hk.ibtimes.com</a>

    </li>
    <li>
        {{!--PR4--}} <a href="http://news.rfidworld.com.cn/2011_12/9dc2f116fab8e932.html" target="_blank"
            title="26.12.2011 - rfidworld.com.cn">rfidworld.com.cn</a>

    </li>
    <li>
        {{!--PR6--}} <a href="http://woshao.com/article/9852e6022ddf11e196d7000c2959fd2a/" target="_blank"
            title="24.12.2011 - woshao.com">woshao.com</a>
    </li>
</ul>


<h3>{{__ "label.lang.gr"}}</h3>

<ul class="breadcrumb">
    <li>
        {{!--PR5--}} <a href="http://away.gr/2012/01/11/wifis-org/" target="_blank"
            title="23.12.2011 - Away.gr - by Dimitris Kalogeropoulos">Away.gr</a>

        {{!-- 
            1:1 Kopie:
                http://ta-eidaolla.blogspot.com/2012/01/wifisorg.html
                http://gadgetnewsgr.blogspot.com/2012/01/wifisorg.html
                http://alexandreia-gidas.blogspot.com/2012/01/blog-post_3945.html
                http://aboutcompu.wordpress.com/2012/01/12/wifis-org
                http://olafree.blogspot.com/2012/06/wifisorg.html
        --}}
    </li>
    <li>
        {{!--PR5--}} <a href="http://www.digitallife.gr/exete-email-apo-to-wi-fi-diktyo-sas-68428/" target="_blank"
            title="23.12.2011 - DigitalLife.gr - by Christine Kitsati">DigitalLife.gr</a>
    </li>

    {{!--
        http://itstoriesnew.wordpress.com/2012/01/17/
            http://www.insomnia.gr/topic/438742-
    --}}
</ul>



<h3>{{__ "label.lang.pt"}}</h3>

<ul class="breadcrumb">
    <li>
        {{!--PR3: O titulo pode até lhe assustar um pouco, já que um de nossos grandes temores é que alguém sem autorização acesse a nossa conexão WiFi.--}}
        <a href="http://br.wwwhatsnew.com/2011/12/wifis-fazer-amigos-compartilhando-sua-wifi/" target="_blank"
            title="26.12.2011 - br.wwWhatsNew.com - by Denise Helena">br.wwWhatsNew.com</a>

    </li>
    <li>
        {{!--PR0: Sabe aquelas ideias que você não sabe se diz: “Imbecil” ou “Genial”?--}}
        <a href="http://papodestartup.tumblr.com/post/15572096258/produtos-estranhos-de-startups" target="_blank"
            title="10.1.2012 - papodestartup.tumblr.com - Eduardo Dos Santos Ferreira">PapodeStartup</a>

    </li>
    <li>
        {{!--PR0: Hoje encontrei um post no Papo de Startup, blog do meu amigo Eduardo Ferreira, --}}
        <a href="http://castroalves.tumblr.com/post/16322522886/divulgando-sua-empresa-via-wi-fi" target="_blank"
            title="15.1.2012 - castroalves.tumblr.com - Castro Alves">CastroAlves</a>
    </li>
    <li>
        {{!--PR2: As redes wifi estão em todos os lugares: shoppings, lojas, aeroportos, no seu prédio --}}
        <a href="http://webangel.com.br/dicas/use-sua-rede-wifi-para-divugar-seu-site" target="_blank"
            title="21.6.2012 - WebAngel.com.br - Angélica Costa" rel="nofollow">WebAngel.com.br</a>
    </li>
</ul>



<h3>{{__ "label.lang.tr"}}</h3>

<ul class="breadcrumb">
    <li>
        {{!--PR3--}} <a
            href="http://www.e-siber.com/web-siteleri/komsulariniz-sizinle-kablosuz-internet-aginiz-uzerinden-haberlessin/"
            target="_blank" title="4.1.2012 - E-Siber.com - by M. Mekin Pesen">E-Siber.com</a>

    </li>
    <li>
        {{!--PR3 kein Link--}} <a
            href="http://wifi-turk.com/haber-316-kablosuz-aginiza-mesaj-birakilmasini-ister-misiniz.html"
            target="_blank" title="25.12.2011 - wifi-turk.com - by Onur KARATAŞ" rel="nofollow">WiFi-Turk.com</a>
    </li>

    {{!-- 
        blöde Seite: http://www1.gantep.edu.tr/~bidb/index.php?option=com_content&view=article&id=90%3Awifisorg-wireless-ile-haberlein&catid=18%3Ahaberler&Itemid=26
        http://www.internetgirisim.com/wifis-org-wireless-ile-haberlesin/
    
    --}}
</ul>



<h3>{{__ "label.lang.jp"}}</h3>

<ul class="breadcrumb">
    <li>
        {{!--PR5--}} <a href="http://www.ideaxidea.com/archives/2012/12/wifi_org.html" target="_blank"
            title="18.12.2012 - IdeaxIdea.com">ideaXidea.com</a>
    </li>
</ul>