{{assign "title" (concat (__ "wifi.headlinePrefix") " " wifiId)}}

{{#if wifiUserId}}
    <h2>
        {{& __ "wifi.headlinePrefix"}}
        <a href="/{{wifiId}}">wifis.org/{{wifiId}}</a>{{#if wifiIdSuffix}}<small>/{{wifiIdSuffix}}</small>{{/if}}
    </h2>

    <p>
        {{{__ "wifi.text.text"}}}
    </p>
    <br>


    {{#if (equals wifiUserId user.id)}}
        <div class="alert alert-error yourWifiTopMessage">
            {{{__ "wifi.text.mywifi"}}}
        </div>
        <div class="yourWifiOverlay"></div>
    {{/if}}



    {{#if (equals wasSent true)}}
        <div class="alert alert-success">
            <b>{{{__ "wifi.contactform.mailsent"}}}</b>
        </div>
        <br>
        <br>



    {{else if (equals wasSent false)}}
        <div class="alert alert-error">
            <b>{{{__ "wifi.contactform.mailNotSent"}}}</b>
        </div>
        <br>
        <br>


    {{else}}

        {{error}}


        {{!-- onsubmit="return (grecaptcha.getResponse().length > 0);"   --}}

        <form method="POST" class="contactform form-stacked">
            <div class="clearfix">
                {{!-- <c:if test=" ${fn:startsWith(error, 'email' )==true}">error</c:if>
                --}}
                <label>{{{__ "wifi.contactform.email"}}}</label>
                <div class="input">
                    <input name="email" value="{{email}}" />
                    {{!-- <c:if test="${fn:startsWith(error, 'email')==true}">
                        <span class="help-block">
                            <spring:message code="wifi.contactform.error.${error}" /></span>
                    </c:if>
                    --}}
                </div>
            </div>
            <div class="clearfix">
                {{!-- <c:if test=" ${fn:startsWith(error, 'text' )==true}">error</c:if>
                --}}
                <label>{{{__ "wifi.contactform.message"}}}</label>
                <div class="input">
                    <textarea name="text">{{text}}</textarea>
                    {{!--
                    <c:if test="${fn:startsWith(error, 'text')==true}">
                        <span class="help-block">
                            <spring:message code="wifi.contactform.error.${error}" /></span>
                    </c:if>
                    --}}
                </div>
            </div>

            <div class="input">
                {{#if (equals error "recaptcha")}}
                <span class="help-block">{{{__ "wifi.contactform.error.recaptcha"}}}</span>
                {{/if}}
            </div>

            <div class="form-actions">
                {{!--
                <button class="g-recaptcha" data-sitekey="reCAPTCHA_site_key" data-callback='onSubmit'
                    data-action='submit'>Submit</button>
                --}}

                <button type="submit" class="btn btn-primary submitButton"
                    style="margin-left:38px">{{__ "wifi.contactform.send"}}</button>
            </div>

            {{{captcha}}}
            <script>
                function cb(token) {
                    console.log('token', token)
                    var input = document.createElement('input')
                    input.setAttribute('type', 'text')
                    input.setAttribute('name', 'g-recaptcha-response')
                    input.setAttribute('value', token)
                    document.getElementsByTagName('form')[0].appendChild(input)
                }
            </script>
        </form>
    {{/if}}

{{else}}

    <h2 style="color: #C00">
        {{& __ "404.headline"}}: wifis.org/{{wifiId}}
        {{#if wifiIdSuffix}}<small>/{{wifiIdSuffix}}</small>{{/if}}
    </h2>

    {{{__ "wifi.text.notfound"}}}

{{/if}}