{{assign "title" (concat (__ "wifi.headlinePrefix") " " wifiId)}}

{{#if wifiUserId}}
    <h2>
        {{& __ "wifi.headlinePrefix"}}
        <a href="/{{wifiId}}">wifis.org/{{wifiId}}</a>{{#if wifiIdSuffix}}<small>/{{wifiIdSuffix}}</small>{{/if}}
    </h2>

    {{#if (equals wifiUserId user.id)}}
        <div class="alert alert-warning">
            {{{__ "wifi.text.mywifi"}}}

            <ul>
                <li>
                    <b>Standard:</b>
                    <a href='https://wifis.org/{{wifiId}}'>wifis.org/{{wifiId}}</a>
                </li>
                <li>
                    <b>{__wifi.urls.subdomains}:</b>
                    <a href='https://{{wifiId}}.wifis.org'>{{wifiId}}.wifis.org</a>
                </li>
                <li>
                    <b>{__wifi.urls.short}:</b>
                    <a href='https://wif.is/{{wifiId}}'>wif.is/{{wifiId}}</a>
                </li>
                <li>
                    <b>{__wifi.urls.subwifis}:</b> 
                    <a href='https://wifis.org/{{wifiId}}/whatever/sub/wifi_$!@'>wifis.org/{{wifiId}}/whatever/sub/wifi_$!@</a>
                </li>
                
            </ul>
        </div>
    {{/if}}

    <p> {{{__ "wifi.text.text"}}} </p>

    {{#if sendSuccess}}
        <div class="alert alert-success">
            <b>{{{__ "wifi.form.mailsent"}}}</b>
        </div>
        <br>
        <br>


    {{else if (equals sendSuccess false)}}
        <div class="alert alert-error">
            <b>{{{__ "wifi.form.mailNotSent"}}}</b><br>
            {{errormessage}}
        </div>
        <br>
        <br>


    {{else}}

        {{!-- onsubmit="return (grecaptcha.getResponse().length > 0);"   --}}

        <script src="https://www.google.com/recaptcha/api.js"></script>

        <form method="POST" id='contactform' class="contactform form-stacked">
            <div class="mb-3 form-floating">
                <input name="contact" class="form-control" value="{{form_field_contact}}" placeholder="{{{__ "wifi.form.contact"}}}" />
                <label class="form-label">{{{__ "wifi.form.contact"}}}</label>
                {{!-- <c:if test="${fn:startsWith(error, 'email')==true}">
                    <span class="help-block">
                        <spring:message code="wifi.form.error.${error}" /></span>
                </c:if>
                --}}
            </div>
            <div class="mb-3 form-floating">
                <textarea name="text" class="form-control" placeholder="{{{__ "wifi.form.message"}}}">{{form_field_text}}</textarea>
                <label class="form-label">{{{__ "wifi.form.message"}}}</label>
                    {{!--
                    <c:if test="${fn:startsWith(error, 'text')==true}">
                        <span class="help-block">
                            <spring:message code="wifi.form.error.${error}" /></span>
                    </c:if>
                    --}}
            </div>
            
            
            {{!--
            <div class="input">
                {{#if (equals error "recaptcha")}}
                <span class="help-block">{{{__ "wifi.form.error.recaptcha"}}}</span>
                {{/if}}
            </div>
            --}}


            <div class="form-actions">
                <button 
                class="btn btn-primary submitButton g-recaptcha" 
                data-sitekey="{{RECAPTCHA_SITE_KEY}}" 
                data-callback='onSubmit' 
                data-action='submit'
                    style="margin-left:38px">{{__ "wifi.form.send"}}</button>
            </div>

            <button type="submit" style="display: none">hidden send</button>

            <script>
                function onSubmit(token) {
                    document.getElementById("contactform").submit();
                }
            </script>
        </form>
    {{/if}}

{{else}}

    <h2 style="color: #C00">
        {{& __ "404.headline"}}: wifis.org/{{wifiId}}
        {{#if wifiIdSuffix}}<small>/{{wifiIdSuffix}}</small>{{/if}}
    </h2>

    {{{__ "wifi.text.notfound"}}}

{{/if}}