<!DOCTYPE html>
<html lang="{{getLocale}}" class="no-js web lang_{{getLocale}}">

{{> head }}

<body>
    {{#unless (equals env "production")}}
        <div class="debug">
            <h1>{{env}}</h1>
            <ul>
                <li><b>lang:</b> {{getLocale}}</li>
                <li><b>urlWithoutQuery:</b> {{urlWithoutQuery}}</li>
                <li><b>urlWithoutLangAndQuery:</b> {{urlWithoutLangAndQuery}}</li>
                <li><b>version:</b> {{version}}</li>
                <li><b>user:</b> {{json user}}</li>
            </ul>            
        </div>
    {{/unless}}

    {{> navi }}

    <div class="container maincontainer {{#if viewname}}{{viewname}}_page{{/if}}">
        <div class="content contenttop">
            {{{body}}}
            <div class='clear'></div>
        </div>
    </div>

    {{> footer }}
    
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type='text/javascript' src='/_js/config_{{getLocale}}.js?{{version}}'></script>
    <script type='text/javascript' src='/js/libs/bootstrap-dropdown.js?{{version}}'></script>
    <script type='text/javascript' src='/js/libs/jquery.timeout.js?{{version}}'></script>
    <script type='text/javascript' src='/js/jquery.wifis.form.js?{{version}}'></script>
    <script type='text/javascript' src='/js/jquery.wifis.general.js?{{version}}'></script>
    <script type='text/javascript' src='/js/jquery.wifis.menu.js?{{version}}'></script>
    {{!-- 
        <script type='text/javascript' src='/js/jquery.wifis.press.js?{{version}}'></script>
    --}}
    <script type='text/javascript' src='/js/jquery.wifis.tips.js?{{version}}'></script>
    <script type='text/javascript' src='/js/wifis.controller.js?{{version}}'></script>
</body>
</html>