<!DOCTYPE html>
<html lang="{{getLocale}}" class="no-js web lang_{{getLocale}}">

<head>
    <!-- Wifis.org ♥ developers - help us https://www.wifis.org/en/languages -->
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{__ "label.mainTeaser"}}" />
    <meta name="keywords" content="wifi, wifis, wlan, share, email, contact" />
    <meta name="author" content="wifis.org" />
    
    {{!-- only contact and example wifi should be indexed by search engines  --}}
    {{#if wifiId}}
        {{#if (or (equals wifiId "contact") (equals wifiId "example"))}}
            <link rel=“canonical” href=“https://wifis.org/{{wifiId}}?lang={{getLocale}}” />
        {{else}}
            <meta name="robots" content="noindex">
        {{/if}}
    {{else}}
        {{#if error}}
            <meta name="robots" content="noindex">
        {{else}}
            <link rel=“canonical” href=“https://wifis.org{{urlWithoutQuery}}” />
        {{/if}}
    {{/if}}
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M6XKF9N');</script>
    <!-- End Google Tag Manager -->

    <link href="//fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
    {{!-- TODO: Update Boostrap to latest version --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>

<body>
    {{> navi }}

    <div class="container maincontainer {{#if viewname}}{{viewname}}_page{{/if}}">
        <div class="content contenttop">
            {{{body}}}
            <div class='clear'></div>
        </div>
    </div>

    {{> footer }}
    
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type='text/javascript' src='/_js/config_{{getLocale}}.js?{{version}}'></script>
    <script type='text/javascript' src='/js/libs/bootstrap-dropdown.js?{{version}}'></script>
    <script type='text/javascript' src='/js/libs/jquery.timeout.js?{{version}}'></script>
    <script type='text/javascript' src='/js/jquery.wifis.form.js?{{version}}'></script>
    <script type='text/javascript' src='/js/jquery.wifis.general.js?{{version}}'></script>
    <script type='text/javascript' src='/js/jquery.wifis.menu.js?{{version}}'></script>
    {{!-- 
        <script type='text/javascript' src='/js/jquery.wifis.press.js?{{version}}'></script>
    --}}
    <script type='text/javascript' src='/js/jquery.wifis.tips.js?{{version}}'></script>
    <script type='text/javascript' src='/js/wifis.controller.js?{{version}}'></script>
</body>
</html>