<!DOCTYPE html>
<html lang="{{getLocale}}" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{__ "label.mainTeaser"}}" />
    <meta name="keywords" content="wifi, wifis, wlan, share, email, contact" />
    <meta name="author" content="wifis.org" />
    <script>document.documentElement.classList.replace("no-js", "js");</script>
    {{> head_seo }}
    {{> gtm }}
    {{!-- TODO: Update Boostrap to latest version OR directly jump to https://tailwindui.com OR all in full react frontend with thin nest js --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
    {{> dev_env }}
    {{> navi }}
    <div class="container maincontainer {{pageId}}_page">
        <div class="content contenttop">
            {{{body}}}
            <div class='clear'></div>
        </div>
    </div>
    {{> footer }}
    <script type='text/javascript' src='/_js/config_{{getLocale}}.js?{{version}}'></script>
    <script type='text/javascript' src='/js/script.js?{{version}}'></script>
</body>
</html>

{{!-- 
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type='text/javascript' src='/js/libs/bootstrap-dropdown.js?{{version}}'></script>
 
    <script type='text/javascript' src='/js/libs/jquery.timeout.js?{{version}}'></script>
    <script type='text/javascript' src='/js/jquery.wifis.form.js?{{version}}'></script>
    <script type='text/javascript' src='/js/jquery.wifis.tips.js?{{version}}'></script>
    --}}