<!DOCTYPE html>
<html lang="{{getLocale}}" class="no-js">
<head>
    <title>
        {{#if (__ (concat pageId ".headline"))}}
            {{stripScripts (__ (concat pageId ".headline"))}}
        {{else}}
            {{title}}
        {{/if}}
    </title>
    <meta charset="utf-8">
    <meta name="description" content="{{__ "label.mainTeaser"}}" />
    <meta name="keywords" content="wifi, wifis, wlan, share, email, contact" />
    <meta name="author" content="wifis.org" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{> head_seo }}
    {{> head_js }}
    <link href="//fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body class="{{pageId}}_page">
    {{> debug }}

    <header class="container">
        {{> header }}
    </header>

    <main class="container py-1">
        <div class="container-lg">
            {{{body}}}
            <div class='clear'></div>
        </div>
    </main>

    <footer class="container py-3">
        {{> footer }}
    </footer>

    <script type='text/javascript' src='/js/translation/{{getLocale}}.js?{{version}}'></script>
    <script type='text/javascript' src='/js/script.js?{{version}}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>